name: Docker Image CI

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest
    environment: 
      name: docker

    steps:
      - uses: actions/checkout@v4
      
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      
      - name: Build and push Docker image
        run: |
          docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/subbygithub:$(date +%Y%m%d)
          docker push ${{ secrets.DOCKER_USERNAME }}/subbygithub:$(date +%Y%m%d)
          docker tag ${{ secrets.DOCKER_USERNAME }}/subbygithub:$(date +%Y%m%d) ${{ secrets.DOCKER_USERNAME }}/subbygithub:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/subbygithub:latest
