name: ci

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: spf20081
          password: dckr_pat_2Dm4MNNdVVkTXvSxIA-Nys9d2HE
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: spf20081/aggregator:latest
